textarea {
    min-height: 400px;
}

/* ==== Testing Purposes ====*/
.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.border-green {
    border: 1px solid lime;
}
