/* GLOBAL STYLES */

:root {
    /* These two are used as opposite depending on the UI area */
    --primary-color: #3a1269;
    --primary-hover-color: #1f0e38;
    --primary-bg-color: #f1ebf8;

    --body-bg-color: #cdc3d8;

    --email-read-bg-color: #d5d2d8; /* Darkens the '--primary-bg-color' which btw is used by unread emails */

    --form-input-border-color: lightgray;
}

body {
    height: 100dvh;
    background-color: var(--body-bg-color);
}

svg {
    width: 32px;
    height: 32px;
}


/* ===== TESTING PURPOSES ===== */
.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.border-green {
    border: 1px solid lime;
}
