{% extends "mail/layout.html" %}
{% load static %}

{% block body %}


    <aside class="sidebar border-end bg-white">
        <div class="sidebar-header d-flex flex-nowrap align-items-center border-bottom px-3 py-4 m-0">
            <img class="sidebar-brand" src="{% static 'mail/email-logo.svg' %}">
            <h2 class="sidebar-title">Email</h2>
        </div>
        
        <ul class="nav-items p-0 m-0">
            <li class="nav-item">
                <button class="nav-btn" id="inbox">
                    <img class="nav-icon" src="{% static 'mail/email.svg' %}">
                    <span class="nav-text">Inbox</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-btn" id="compose">
                    <img class="nav-icon" src="{% static 'mail/email.svg' %}">
                    <span class="nav-text">Compose</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-btn" id="sent">
                    <img class="nav-icon" src="{% static 'mail/email.svg' %}">
                    <span class="nav-text">Sent</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-btn" id="archived">
                    <img class="nav-icon" src="{% static 'mail/email.svg' %}">
                    <span class="nav-text">Archived</span>
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-btn text-decoration-none" href="{% url 'logout' %}">
                    <img class="nav-icon" src="{% static 'mail/email.svg' %}">
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </aside>

    <header class="header p-4 border-blue">
        <div id="email-box-title"></div>
        <h4>{{ request.user.email }}</h4>
    </header>

    <main class="main p-4 border-red">

        <div class="container" id="emails-view">
        </div>

        <div class="" id="compose-view">
            <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>

    </main>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}