{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>

        <!-- Online Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Local Bootstrap -->
        <!-- <link href="{% static 'mail/bootstrap-5.3.8-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'mail/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script> -->
        
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block style %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <!-- To enable all BS's tooltips (from w3schools)-->
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
    </body>
</html>